lab7/wsdl.xml

<?xml version="1.0" encoding="UTF-8" standalone="no"?><!-- Published by JAX-
WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.5-hudson-
$BUILD_NUMBER-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net.
RI's version is JAX-WS RI 2.1.5-hudson-$BUILD_NUMBER-. -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://service.maxart.com/"
             xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-
wss-wssecurity-utility-1.0.xsd"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             name="PersonService"
             targetNamespace="http://service.maxart.com/">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://service.maxart.com/"
                        schemaLocation="http://localhost:8081/PersonService?xsd=1"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://service.maxart.com"
                        schemaLocation="http://localhost:8081/PersonService?xsd=2"/>
        </xsd:schema>
    </types>
    <message name="getAllPersons">
        <part element="tns:getAllPersons" name="parameters"/>
    </message>
    <message name="getAllPersonsResponse">
        <part element="tns:getAllPersonsResponse" name="parameters"/>
    </message>
    <message name="findPersons">
        <part element="tns:findPersons" name="parameters"/>
    </message>
    <message name="findPersonsResponse">
        <part element="tns:findPersonsResponse" name="parameters"/>
    </message>
    <message name="IllegalQException">
        <part element="tns:IllegalQException" name="fault"/>
    </message>
    <message name="deletePerson">
        <part element="tns:deletePerson" name="parameters"/>
    </message>
    <message name="deletePersonResponse">
        <part element="tns:deletePersonResponse" name="parameters"/>
    </message>
    <message name="InvalidEntityException">
        <part element="tns:InvalidEntityException" name="fault"/>
    </message>
    <message name="IllegalIdException">
        <part element="tns:IllegalIdException" name="fault"/>
    </message>
    <message name="updatePerson">
        <part element="tns:updatePerson" name="parameters"/>
    </message>
    <message name="updatePersonResponse">
        <part element="tns:updatePersonResponse" name="parameters"/>
    </message>
    <message name="createPerson">
        <part element="tns:createPerson" name="parameters"/>
    </message>
    <message name="createPersonResponse">
        <part element="tns:createPersonResponse" name="parameters"/>
    </message>
    <message name="InsertingException">
        <part element="tns:InsertingException" name="fault"/>
    </message>
    <message name="InvalidCreatingParametersException">
        <part element="tns:InvalidCreatingParametersException" name="fault"/>
    </message>
    <portType name="PersonWebService">
        <operation name="getAllPersons">
            <input message="tns:getAllPersons"/>
            <output message="tns:getAllPersonsResponse"/>
        </operation>
        <operation name="findPersons">
            <input message="tns:findPersons"/>
            <output message="tns:findPersonsResponse"/>
            <fault message="tns:IllegalQException" name="IllegalQException"/>
        </operation>
        <operation name="deletePerson">
            <input message="tns:deletePerson"/>
            <output message="tns:deletePersonResponse"/>
            <fault message="tns:InvalidEntityException"
                   name="InvalidEntityException"/>
                   <fault message="tns:IllegalIdException"
                          name="IllegalIdException"/>
        </operation>
        <operation name="updatePerson">
            <input message="tns:updatePerson"/>
            <output message="tns:updatePersonResponse"/>
            <fault message="tns:IllegalQException" name="IllegalQException"/>
            <fault message="tns:IllegalIdException"name="IllegalIdException"/>
            <fault message="tns:InvalidEntityException"
                   name="InvalidEntityException"/>
        </operation>
        <operation name="createPerson">
            <input message="tns:createPerson"/>
            <output message="tns:createPersonResponse"/>
            <fault message="tns:InsertingException"
                   name="InsertingException"/>
                   <fault message="tns:InvalidCreatingParametersException"
                          name="InvalidCreatingParametersException"/>
        </operation>
    </portType>
    <binding name="PersonWebServicePortBinding"
             type="tns:PersonWebService">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
                      <operation name="getAllPersons">
                          <soap:operation soapAction=""/>
                          <input>
                              <soap:body use="literal"/>
                          </input>
                          <output>
                              <soap:body use="literal"/>
                          </output>
                      </operation>
                      <operation name="findPersons">
                          <soap:operation soapAction=""/>
                          <input>
                              <soap:body use="literal"/>
                          </input>
                          <output>
                              <soap:body use="literal"/>
                          </output>
                          <fault name="IllegalQException">
                              <soap:fault name="IllegalQException" use="literal"/>
                          </fault>
                      </operation>
                      <operation name="deletePerson">
                          <soap:operation soapAction=""/>
                          <input>
                              <soap:body use="literal"/>
                          </input>
                          <output>
                              <soap:body use="literal"/>
                          </output>
                          <fault name="InvalidEntityException">
                              <soap:fault name="InvalidEntityException" use="literal"/>
                          </fault>
                          <fault name="IllegalIdException">
                              <soap:fault name="IllegalIdException" use="literal"/>
                          </fault>
                      </operation>
                      <operation name="updatePerson">
                          <soap:operation soapAction=""/>
                          <input>
                              <soap:body use="literal"/>
                          </input>
                          <output>
                              <soap:body use="literal"/>
                          </output>
                          <fault name="IllegalQException">
                              <soap:fault name="IllegalQException" use="literal"/>
                          </fault>
                          <fault name="IllegalIdException">
                              <soap:fault name="IllegalIdException" use="literal"/>
                          </fault>
                          <fault name="InvalidEntityException">
                              <soap:fault name="InvalidEntityException" use="literal"/>
                          </fault>
                      </operation>
                      <operation name="createPerson">
                          <soap:operation soapAction=""/>
                          <input>
                              <soap:body use="literal"/>
                          </input>
                          <output>
                              <soap:body use="literal"/>
                          </output>
                          <fault name="InsertingException">
                              <soap:fault name="InsertingException" use="literal"/>
                          </fault>
                          <fault name="InvalidCreatingParametersException">
                              <soap:fault name="InvalidCreatingParametersException"
                                          use="literal"/>
                          </fault>
                      </operation>
    </binding>
    <service name="PersonService">
        <port binding="tns:PersonWebServicePortBinding"
              name="PersonWebServicePort">
            <soap:address location="http://localhost:8081/PersonService"/>
        </port>
    </service
</definitions>
